input{
    height: 35px;
    width: 250px;
}

span{
    font-weight: bold;
}

.container-fluid{
    background: url("https://wallpapercave.com/wp/wp6751611.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}